@keyframes lds-double-ring {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-webkit-keyframes lds-double-ring {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes lds-double-ring_reverse {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}
@-webkit-keyframes lds-double-ring_reverse {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}
.lds-double-ring {
    position: relative;
}
.lds-double-ring div {
    box-sizing: border-box;
}
.lds-double-ring > div {
    position: absolute;
    width: 196px;
    height: 196px;
    top: 2px;
    left: 2px;
    border-radius: 50%;
    border: 16px solid #000;
    border-color: #4285f4 transparent #4285f4 transparent;
    -webkit-animation: lds-double-ring 1s linear infinite;
    animation: lds-double-ring 1s linear infinite;
}
.lds-double-ring > div:nth-child(2),
.lds-double-ring > div:nth-child(4) {
    width: 160px;
    height: 160px;
    top: 20px;
    left: 20px;
    -webkit-animation: lds-double-ring_reverse 1s linear infinite;
    animation: lds-double-ring_reverse 1s linear infinite;
}
.lds-double-ring > div:nth-child(2) {
    border-color: transparent #545454 transparent #545454;
}
.lds-double-ring > div:nth-child(3) {
    border-color: transparent;
}
.lds-double-ring > div:nth-child(3) div {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.lds-double-ring > div:nth-child(3) div:before,
.lds-double-ring > div:nth-child(3) div:after {
    content: "";
    display: block;
    position: absolute;
    width: 16px;
    height: 16px;
    top: -16px;
    left: 74px;
    background: #4285f4;
    border-radius: 50%;
    box-shadow: 0 180px 0 0 #4285f4;
}
.lds-double-ring > div:nth-child(3) div:after {
    left: -16px;
    top: 74px;
    box-shadow: 180px 0 0 0 #4285f4;
}
.lds-double-ring > div:nth-child(4) {
    border-color: transparent;
}
.lds-double-ring > div:nth-child(4) div {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.lds-double-ring > div:nth-child(4) div:before,
.lds-double-ring > div:nth-child(4) div:after {
    content: "";
    display: block;
    position: absolute;
    width: 16px;
    height: 16px;
    top: -16px;
    left: 56px;
    background: #545454;
    border-radius: 50%;
    box-shadow: 0 144px 0 0 #545454;
}
.lds-double-ring > div:nth-child(4) div:after {
    left: -16px;
    top: 56px;
    box-shadow: 144px 0 0 0 #545454;
}
.lds-double-ring {
    width: 100px !important;
    height: 100px !important;
    -webkit-transform: translate(-50px, -50px) scale(0.5) translate(50px, 50px);
    transform: translate(-50px, -50px) scale(0.5) translate(50px, 50px);
}
.lds-css.ng-scope {
    margin: auto;
}
